@page "/about"

<h3>Feedback</h3>

<p>Any one can provide feedback on Olson Family Games products on <a href="https://github.com/orgs/Olson-Family-Games/discussions" target="_blank">GitHub</a>. We would love to hear about issues, requests for new features, or what games you would like built next!<br />To get started, you may need to <a target="_blank" href="https://github.com/signup?ref_cta=Sign+up&ref_loc=header+logged+out&ref_page=%2F%3Cuser-name%3E%2F%3Crepo-name%3E%2Forgs%2Fdiscussions%2Findex&source=header-repo&source_repo=Olson-Family-Games%2FPublicFeedback">create your GitHub account</a>.</p>

@code {

}
