@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Olson Family Games!</h1>

<p>This site is under construction, but please explore what is already here.</p>

<RadzenImage Path="favicon.ico"></RadzenImage>

